<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Todo App</title>
  </head>
  <body>
    <div>
      <!-- askamaのjinja記法 -->
      {% for entry in entries %}
      <div>
        <div>id: {{ entry.id }}, text: {{ entry.text }}</div>
        <form action="/delete" method="post">
          <input type="hidden" name="id" value="{{ entry.id }}" />
          <button>Delete</button>
        </form>
      </div>
      {% endfor %}
    </div>

    <form action="/add" method="post">
      <div>
        <input name="text" />
      </div>
      <div>
        <button>Add</button>
      </div>
    </form>
  </body>
</html>
